<h1>Listing lectures</h1>

<table>
  <tr>
    <th>Lec title</th>
    <th>Place</th>
    <th>Room</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.lec_title %></td>
    <td><%= lecture.place %></td>
    <td><%= lecture.room %></td>
    <td><%= lecture.start_time %></td>
    <td><%= lecture.end_time %></td>
    <td><%= link_to 'Show', lecture %></td>
    <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
    <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecture', new_lecture_path %>
