<table class="table table-bordered table-hover">
<caption>Your Profile</caption>
<thead>
<tr>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr>
<td><b>Fname:</b></td>
<td><%= @user.fname %></td>
</tr>
<tr>
<td><b>Lname:</b></td>
<td><%= @user.lname %></td>
</tr>
<tr>
  <td><b>Email:</b></td>
  <td><%= @user.email %></td>
</tr>
<tr>
  <td><b>Username:</b></td>
  <td><%= @user.username %></td>
</tr>
<tr>
  <td><b>Status:</b></td>
  <td><%= @user.status %></td>
</tr>
</tbody>
</table>

<%= link_to('Edit', edit_user_path(@user), :class => "btn btn-large") if is_admin? %> |
<%= link_to( 'Back to users', users_path, :class => "btn btn-large") %>

<div>
<%= render 'users/assignform' %>
</div>
