<% if @user %>
<table class="table table-bordered table-hover">
<caption>Your Profile</caption>
<thead>
<tr>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr>
<td><b>Fname:</b></td>
<td><%= @user.fname %></td>
</tr>
<tr>
<td><b>Lname:</b></td>
<td><%= @user.lname %></td>
</tr>
<tr>
  <td><b>Email:</b></td>
  <td><%= @user.email %></td>
</tr>
<tr>
  <td><b>Username:</b></td>
  <td><%= @user.username %></td>
</tr>
<tr>
  <td><b>Status:</b></td>
  <td><%= @user.status %></td>
</tr>
</tbody>
</table>

<%= link_to('Edit', edit_user_path(@user), :class => "btn btn-large") %> |
<%= link_to( 'Back to users', users_path, :class => "btn btn-large") %> 
<% if @current_user._id == @user._id  %> |
    <%= link_to('Change Password', updatepass_path(@current_user), :class => "btn btn-large") %>
<% end %>
<div>
<%= render 'users/assignform' %>
</div>

<% else %>
   <% flash[:error] = 'damn! how did u end up here?'
   render "/layouts/messages" %> 
<% end %>
