<p id="notice"><%= notice %></p>

<p>
  <b>Ass number:</b>
  <%= @assignement.Ass_number %>
</p>

<p>
  <b>Post date:</b>
  <%= @assignement.post_date %>
</p>

<p>
  <b>Dealine:</b>
  <%= @assignement.dealine %>
</p>

<p>
  <b>Status:</b>
  <%= @assignement.status %>
</p>


<%= link_to 'Edit', edit_assignement_path(@assignement) %> |
<%= link_to 'Back', assignements_path %>
