<% if @course %>
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cnumber %><br />
    <%= f.text_field :cnumber %>
  </div>
  <div class="field">
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </div>
  <div class="field">
    <%= f.label :cschedule %><br />
    <%= f.text_field :cschedule %>
  </div>
  <div class="field">
    <%= f.label :cplace %><br />
    <%= f.text_field :cplace %>
  </div>
  <div class="field">
    <%= f.label :croom %><br />
    <%= f.text_field :croom %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </div>
  <div class="actions">
    <%= f.submit 'Update course', :class => "btn btn-large" %>
  </div>
<% end %>
