<h1>Listing courses</h1>

<table class ="table table-bordered table-hover">
  
  <thead>
  <tr>
    <th>Cnumber</th>
    <th>Cname</th>
    <th>Cschedule</th>
    <th>Cplace</th>
    <th>Croom</th>
    <th>Description</th>
    <th>Time</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
     <% user = @current_user 
        c_ids = user.course_ids
     %>
     <% c_ids.each do |id| %>
        <!-- place querry in here -->
        <% course = Course.find_by( _id: id) %>
        <tr class="info">
            <td><%= course.cnumber %></td>
            <td><%= course.cname %></td>
            <td><%= course.cschedule %></td>
            <td><%= course.cplace %></td>
            <td><%= course.croom %></td>
            <td><%= course.description %></td>
            <td>
                Start: <%= course.start_date %></br>
                End: <%= course.end_date %>
            </td>
            <td>
            <div class="btn-group">
                <a class="btn btn-primary"><i class="icon-tasks icon-white"></i> Operations</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'View', course %></li>
                    <li><%= link_to 'Edit', edit_course_path(course) %></li>
                    <li><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
            </div>
            </td>
        </tr>
            
     <% end %>
</tbody>
</table>

<br />
<%= link_to( 'New Course', new_course_path ) if is_admin? %>
