<% if @course %>
<table class="table table-bordered table-hover">
<caption>Course Details</caption>
<thead>
<tr>
  <th></th>
  <th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
  <b>Cnumber:</b></td>
  <td><%= @course.cnumber %></td>
</tr>

<tr>
  <td><b>Cname:</b></td>
  <td><%= @course.cname %></td>
</tr>

<tr>
  <td><b>Cschedule:</b></td>
  <td><%= @course.cschedule %></td>
</tr>

<tr>
  <td><b>Cplace:</b></td>
  <td><%= @course.cplace %></td>
</tr>

<tr>
  <td><b>Croom:</b></td>
  <td><%= @course.croom %></td>
</tr>

<tr>
  <b>Description:</b></td>
  <%= @course.description %></td>
</tr>

<tr>
  <td><b>Start date:</b></td>
  <td><%= @course.start_date %></td>
</tr>

<tr>
  <td><b>End date:</b></td>
  <td><%= @course.end_date %></td>
</tr>
</tbody>
</table>

<%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-large" if is_admin? or is_teacher? or is_ta? %> |
<%= link_to 'Back', courses_path, :class => "btn btn-large" %>

<% else %>
   <% flash[:error] = 'damn! how did u end up here?'
   render "/layouts/messages" %> 
<% end %>
