<!DOCTYPE html>
<html>
<head>
  <title>ClassreadApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_header" >
  <% if current_user %>
     Logged in as <%= current_user.fname %>
     <%= link_to "Log Out", session_path('new'), method: :delete %>
     <br/>
      
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Login In", new_session_path %>
</div>
<% end %>

<%= yield %>

</body>
</html>
